In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('historical_data/raw_hist_data.csv')

/var/folders/q0/5h71wsh14456zf5w2g9pnl840000gn/T/ipykernel_46449/514675463.py:1: DtypeWarning: Columns (7,9,11,13,17,21,29,31,33,35,37,39,41,43,45,47,49,51,53) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('historical_data/raw_hist_data.csv')

In [4]:
station_dfs = {station_id: df[df['STATION'] == station_id] for station_id in df['STATION'].unique()}

In [5]:
def clean_data(df):
    # Drop columns with over 90% missing values
    threshold = len(df) * 0.9
    df = df.dropna(thresh=threshold, axis=1)
    # Separate year, month, and day from the DATE column
    df[['Year', 'Month', 'Day']] = df['DATE'].str.split('-', expand=True)
    # Convert DATE column to datetime
    df['DATE'] = pd.to_datetime(df['DATE'])
    # Convert elevation from meters to feet and round to the nearest foot
    df['ELEVATION'] = (df['ELEVATION'] * 3.28084).round()
    return df

In [6]:
cleaned_df = clean_data(df)

/var/folders/q0/5h71wsh14456zf5w2g9pnl840000gn/T/ipykernel_46449/1869043968.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Year', 'Month', 'Day']] = df['DATE'].str.split('-', expand=True)
/var/folders/q0/5h71wsh14456zf5w2g9pnl840000gn/T/ipykernel_46449/1869043968.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Year', 'Month', 'Day']] = df['DATE'].str.split('-', expand=True)
/var/folders/q0/5h71wsh14456zf5w2g9pnl840000gn/T/ipykernel_46449/1869043968.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['Year', 'Month', 'Day']] = df['DATE'].str.split('-', expand=True)
/var/folders/q0/5h71wsh14456zf5w2g9pnl840000gn/T/ipykernel_46449/1869043968.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DATE'] = pd.to_datetime(df['DATE'])
/var/folders/q0/5h71wsh14456zf5w2g9pnl840000gn/T/ipykernel_46449/1869043968.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ELEVATION'] = (df['ELEVATION'] * 3.28084).round()

In [7]:
cleaned_df.groupby('NAME')['ELEVATION'].max().sort_values(ascending=False)

NAME
SNOWBIRD, UT US                9640.0
BRIGHTON, UT US                8750.0
SILVER LAKE BRIGHTON, UT US    8740.0
ALTA, UT US                    8710.0
Name: ELEVATION, dtype: float64

In [ ]:
# Loop through the dictionary, clean, and save to CSV
for station, df in station_dfs.items():
    cleaned_df = clean_data(df)  # Apply cleaning function
    cleaned_df.to_csv(f"historical_data/{station}_cleaned.csv", index=False)  # Save to CSV

In [11]:
url = "https://raw.githubusercontent.com/cole-herndon/weather/refs/heads/main/historical_data/raw_hist_data.csv"

In [ ]:
test_df = pd.read_csv(url)

/var/folders/q0/5h71wsh14456zf5w2g9pnl840000gn/T/ipykernel_48938/1726005393.py:1: DtypeWarning: Columns (7,9,11,13,17,21,29,31,33,35,37,39,41,43,45,47,49,51,53) have mixed types. Specify dtype option on import or set low_memory=False.
  test_df = pd.read_csv(url)

In [13]:
test_df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DAPR,DAPR_ATTRIBUTES,DASF,DASF_ATTRIBUTES,...,WT09,WT09_ATTRIBUTES,WT11,WT11_ATTRIBUTES,WT14,WT14_ATTRIBUTES,WT16,WT16_ATTRIBUTES,WT18,WT18_ATTRIBUTES
0,USC00420072,"ALTA, UT US",40.59058,-111.63703,2654.8,1905-03-17,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USC00420072,"ALTA, UT US",40.59058,-111.63703,2654.8,1905-03-18,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USC00420072,"ALTA, UT US",40.59058,-111.63703,2654.8,1905-03-19,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USC00420072,"ALTA, UT US",40.59058,-111.63703,2654.8,1905-03-20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USC00420072,"ALTA, UT US",40.59058,-111.63703,2654.8,1905-03-21,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN